body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.contenedor {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #45b0c5;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.titulo h1 {
    font-size: 30px;
    font-weight: 600;
}

/* Estilos del formulario */
.formulario-contenedor {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.campo {
    margin-bottom: 15px;
}

label {
    font-weight: 600;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.enviar,
.cancelar {
    background-color: #45b0c5;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enviar:hover,
.cancelar:hover {
    background-color: #602f53;
}
