*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    background-color: rgb(138, 192, 192);
    height: auto;
    width: 100%;
    text-align: center;
}

#menu{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}